@media screen and (min-width:1280px) {
    .lead_indent {
        max-width: 984px;
        width: calc(100% - 96px);
    }
}
@media screen and (max-width:1280px) {
    .lead_indent{
        width: calc(100% - 96px);
       max-width: 984px;
    }
}
@media screen and (max-width:1024px) {
    .lead_indent {
       width: calc(100% - 96px);
    }
}
@media screen and (max-width:768px) {
    .lead_indent{
        width: calc(100% - 48px);
     }
}
@media screen and (max-width:465px) {
    .lead_indent{
        width: calc(100% - 32px);
     }
}