.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-top: 92px;
}
@media screen and (min-width:1280px) {
    .cover {
        width: calc(100% - 96px);
        max-width: 1280px;
        min-height: 740px;
    }
}
@media screen and (max-width:1280px) {
    .cover {
        width: calc(100% - 96px);
        max-width: 1280px;
        min-height: 740px;
    }
}
@media screen and (max-width:1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width:768px) {
    .cover {
        width: 100%;
        min-height:  480px
    }
}
@media screen and (max-width:465px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}
