.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-top: 92px;
}
@media screen and (min-width:1280px) {
    .cover {
        width: calc(100% - 96px);
        max-width: 1280px;
        min-height: 740px;
    }
}
@media screen and (max-width:1280px) {
    .cover {
        width: calc(100% - 96px);
        max-width: 1280px;
        min-height: 740px;
    }
}
@media screen and (max-width:1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width:768px) {
    .cover {
        width: 100%;
        min-height:  480px
    }
}
@media screen and (max-width:465px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}

.cover__link {
 text-decoration: none;
 color: #fff;
 display: flex;
 margin: auto;
 flex-direction: column;
text-align: center;
 z-index: 1;
 
}
.cover__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: opacity 0.4s;
    background-color: #2A2C2F;
}
.cover__image:hover {
    opacity: 0.3;
}
.cover__title {
    margin-bottom: 32px;
    max-width: 560px;
    z-index: 1;
}
@media screen and (min-width:1280px) {
    .cover__title {
        font-size: 82px; /*размкр шрифта другой надо будет заменить когда подключу шрифты*/
    line-height: 76px;
    font-weight: 900;
    }
}
@media screen and (max-width:1280px) {
    .cover__title {
        font-size: 82px; /*размкр шрифта другой надо будет заменить когда подключу шрифты*/
    line-height: 76px;
    font-weight: 900;
    }
}
@media screen and (max-width:1024px) {
    .cover__title  {
        font-family: Inter;
        font-size: 72px;
        font-weight: 900;
        line-height: 76px;    
    }
}
@media screen and (max-width:768px) {
    .cover__title  {
        font-family: Inter;
        font-size: 50px;
        font-weight: 900;
        line-height: 35px; 
    }
}
@media screen and (max-width:465px) {
    .cover__title  {
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
    }
}
.cover__subtitle {
    margin: auto;
   max-width: 366px;
   z-index: 1;
}
@media screen and (min-width:1280px) {
    .cover__subtitle {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;    
    }
}
@media screen and (max-width:1280px) {
    .cover__subtitle {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;    
    }
}
@media screen and (max-width:1024px) {
    .cover__subtitle  {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;    
    }
}
@media screen and (max-width:768px) {
    .cover__subtitle  {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;    
    }
}
@media screen and (max-width:465px) {
    .cover__subtitle  {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}